

.main {
    background: url("../../images/mpcp-banner.jpg") no-repeat center 0;
}

.main .banner {
    height: 509px;
    position: relative;
    text-align: center;
}

.main .main-top {
    text-align: center;
    padding-top: 45px;

}

.main .main-top h1 {
    color: #ffffff;
    font-size: 40px;
}

.main .main-top > p {
    color: #c4c3c8;
}

.main .main-list {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 40px;


}

.main .main-list .ul-list {
    width: 320px;
    height: 375px;
    float: left;
    margin-right: 32px;
    text-align: center;
    color: #fff;
    transition: all .3s;
    position: relative;
    top: 0;
    box-shadow: none;
}

.main .main-list .ul-list:hover {
    top: -5px;
}

.main .main-list .list-li {
    background-color: #ff6079;
    height: 100%;
}

.main .main-list h3 {
    line-height: 120px;
}

.main .main-list p {
    margin: 15px 0;
}

.main .main-list a {
    display: inline-block;
    width: 240px;
    height: 45px;
    color: #ef2929;
    line-height: 45px;
    border-radius: 3px;
    margin-top: 35px;
    font-size: 16px;
    background-color: #fdd1d3;
}

.main .income {
    padding-top: 50px;
}

.main .sy-top {
    height: 52px;
    line-height: 52px;
    padding-left: 40px;
    font-size: 16px;
    color: #333;
    border: 1px solid #eee;
}

.main .sy-left {
    padding-left: 40px;
    margin: 30px 0;
}

.main .sy-left li {
    display: inline-block;
    float: left;
    width: 100%;
    height: 44px;
}

.main .sy-left li span {
    height: 5px;
    width: 318px;
    background-color: #d5d5d5;
    display: inline-block;
    position: relative;
    top: 14px;
}

.main .sy-left li .sy-qd {
    position: absolute;
    left: 38%;
    color: red;
}

.main .sy-left li .sy-jh {
    position: absolute;
    left: 45%;
}

.main .sy-right {
    padding-right: 40px;
    margin-top: 30px;
}

.main .sy-right input {
    width: 100%;
    position: relative;
}

.main .sy-right .put-y {
    position: absolute;
    right:;
}

.main .sy-right button {
    width: 100%;
    margin-top: 30px;
}

.main .wq-row {
    margin-top: 50px;
}
.main .wq-row .ul-one{
    border: 1px solid #eee;
    color: #888;
    height: 52px;
    background-color: #f8f8f8;
}
.main .wq-left {
    padding-left: 40px;
}

.main .wq-left li {
    display: inline-block;
    line-height: 58px;
    width: 20%;
    float: left;
    text-align: center;
}
.main .wq-left li:first-child{
    text-align: left;
}

.main .wq-left .list-last {
    width: 120px;
    padding-right: 40px;
    float: right;
}
.main .wq-left a{
    display: inline-block;
    width: 80px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 16px;
    background-color: #fdd1d3;
    text-align: center;
    height: 30px;
    color: #aaa;
}

