<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/modules/controls/button.css">
    <link rel="stylesheet" href="../styles/modules/components/pagination.css">
    <link rel="stylesheet" href="../styles/modules/controls/inputs.css">
</head>
<body>
<button class="btn btn-kobe">111</button>
<button class="btn btn-default">222</button>
<button class="btn btn-disabled">333</button>
<button class="btn btn-shadow">444</button>

<span class="btn btn-kobe">12312</span>
<span class="btn btn-disabled">12312</span>
<span class="btn btn-shadow">12312</span>
<a class="btn-shadow btn" href="">12312</a>
<a class="btn btn-pagination">12312</a>


<div >
    <ul class="pagination">
        <li><a class="item" href="">1</a></li>
        <li><a class="item" href="">2</a></li>
        <li><a class="item" href="">3</a></li>
        <li><a class="item" href="">4</a></li>
        <li><a class="prev" href="">下一页</a></li>
    </ul>

    <input class="ipt ipt-small" type="text" placeholder="小尺寸">
    <input class="ipt ipt-zhong" type="text" placeholder="中尺寸"> 
    <input class="ipt ipt-big" type="text" placeholder="大尺寸">

    <input class="ipt ipt-disabled-small" type="text" disabled placeholder="禁用">
    <input class="ipt ipt-disabled-zhong" type="text" disabled placeholder="禁用">
    <input class="ipt ipt-disabled-big" type="text" disabled placeholder="禁用">

</div>
</body>
</html> 