<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/helper.css">
    <link rel="stylesheet" href="../styles/pages/index.css">
    <link rel="stylesheet" href="../styles/modules/controls/inputs.css">
    <link rel="stylesheet" href="../styles/modules/controls/button.css">
    <link rel="stylesheet" href="../styles/modules/components/pagination.css">
    <link rel="stylesheet" href="../styles/modules/icon/font-awesome.css">
    <link rel="stylesheet" href="../styles/pages/jihua.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row head-top">
            <div class="col-4 head-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <small>全国服务热线：400-1551-888</small>
                <span><i class="fa fa-qq ifa" aria-hidden="true"></i></span>
                <span><i class="fa fa-weixin ifa" aria-hidden="true"></i></span>
                <span><i class="fa fa-weibo ifa" aria-hidden="true"></i></span>
            </div>
            <div class="col-4 col-offset-4 head-right">
                <ul class="ul-rt fr">
                    <li><a href=""><i class="fa fa-mobile li-phone" aria-hidden="true"></i>手机客户端</a></li>
                    <li><a href="">安全保障</a></li>
                    <li><a href="">立即登陆</a></li>
                    <li><a href="">快速注册</a></li>
                </ul>
            </div>
        </div>
        <div class="row head-bom">
            <div class="col-2 bom-left">
                <div>
                    <img class="" src="../images/hongxb.png" height="33" width="109"/>
                </div>
            </div>
            <div class="col-9 col-offset-1 bom-right">
                <ul class="fr">
                    <li>首页</li>
                    <li>红利计划</li>
                    <li>散标投资</li>
                    <li>债券转让</li>
                    <li>关于我们</li>
                    <li>我的账户</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container banner">
        <div class="main-center">
            <div class="main-top">
                <h1>红利计划</h1>
                <p>期限灵活,分散投资</p>
            </div>
        </div>
        <ul class="main-list">
            <li class="ul-list">
                <div class="list-li">
                    <h3 class="fz-stress">红利计划 A</h3>
                    <p>平均历史年化收益</p>
                    <p class="fz-big">7.00<span class="fz-more">%</span></p>
                    <p>投资3个月</p>
                    <a class="" href="">敬请期待</a>
                </div>
            </li>
            <li class="ul-list">
                <div class="list-li">
                    <h3 class="fz-stress">红利计划 B</h3>
                    <p>平均历史年化收益</p>
                    <p class="fz-big">8.00<span class="fz-more">%</span></p>
                    <p>投资6个月</p>
                    <a class="" href="">敬请期待</a>
                </div>
            </li>
            <li class="ul-list">
                <div class="list-li">
                    <h3 class="fz-stress">红利计划 C</h3>
                    <p>平均历史年化收益</p>
                    <p class="fz-big">10.00<span class="fz-more">%</span></p>
                    <p>投资12个月</p>
                    <a class="" href="">敬请期待</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="container income">
        <div class="row  box-shadow">
            <div class="sy-top">收益计算器</div>
            <div class="col-7">
                <ul class="sy-left clearfix">
                    <li class="">
                        <span></span>
                        <p class="sy-qd">敬请期待</p>
                        <p class="sy-jh">红利计划A</p>
                    </li>
                    <li class="">
                        <span></span>
                        <p class="sy-qd">敬请期待</p>
                        <p class="sy-jh">红利计划A</p>
                    </li>
                    <li class="">
                        <span></span>
                        <p class="sy-qd">敬请期待</p>
                        <p class="sy-jh">红利计划A</p>
                    </li>
                </ul>
            </div>
            <div class="col-3 col-offset-2 sy-right fr">
                <div class="put-re">
                    <input class="ipt ipt-big" type="text" placeholder="10000">
                </div>
                <button class="btn btn-kobe">开始计算</button>
            </div>
        </div>

        <div class="row box-shadow wq-row">
            <div class="sy-top">往期计划</div>
            <div class="ul-one">
                <ul class="wq-left clearfix">
                    <li>名称</li>
                    <li>购买人数</li>
                    <li>计划金额(元)</li>
                    <li>平均历史年化收益</li>
                    <li class="list-last">状态</li>
                </ul>
                <ul class="wq-left clearfix">
                    <li>季得利</li>
                    <li>2</li>
                    <li>200000.00</li>
                    <li>8.00%</li>
                    <li class="list-last"><a href="">已退出</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>

<div class="footed">
    <div class="container fot-cont">
        <ul class="fot-mar">
            <li><a class="fot-first" href="">公司介绍</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">免责声明</a></li>
            <li><a href="">自律公约</a></li>
        </ul>

        <div class="fot-mar">
            <span class="fot-sp">客服热线</span>
            <span class="fot-sa">400-1551-888（周一至周五 9:00-19:00）</span>
        </div>

        <div class="fot-fed">
            <ul>
                <li><a class="fot-first" href="">公司介绍</a></li>
                <li><a href="">网贷天眼</a></li>
                <li><a href="">网贷之家</a></li>
                <li><a href="">网贷中国</a></li>
                <li><a href="">红上金融</a></li>
                <li><a href="">中国小额信贷联盟</a></li>
            </ul>
        </div>

        <div class="hoomxb">
            <p class="fz-small">红上金融信息服务（上海）有限公司 | Copyright © hoomxb.com 沪ICP备14046628号-2| 沪公网安备 31010102002582号><br><br>
                理财市场有风险，投资需谨慎！</p>
        </div>
    </div>
</div>


</body>
</html>