<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/helper.css">
    <link rel="stylesheet" href="../styles/pages/index.css">
    <link rel="stylesheet" href="../styles/pages/login.css">
    <link rel="stylesheet" href="../styles/modules/controls/inputs.css">
    <link rel="stylesheet" href="../styles/modules/controls/button.css">
    <link rel="stylesheet" href="../styles/modules/components/pagination.css">
    <link rel="stylesheet" href="../styles/modules/icon/font-awesome.css">
    <link rel="stylesheet" href="../styles/modules/components/header.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row pd-15">
            <div class="fl hongxb">
                <img class="" src="../images/hongxb.png" height="33" width="109"/>
            </div>
            <div class="fl header-nav fz-more">登陆</div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container container-main">
        <div class="row cont-row clearfix">
            <div class="login-box">
                <div class="title fz-more">账户登陆</div>
                <div class="cont">
                    <div class="cont-box">
                        <div class="cont-i">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <input class="ipt ipt-zhong" type="text" placeholder="请输入手机号码">
                    </div>
                    <div class="cont-box">
                        <div class="cont-i">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <input class="ipt ipt-zhong" type="text" placeholder="请输入手机号码">
                    </div>
                    <div class="cont-box clearfix">
                        <span class="fr"><a href="">忘记密码 ?</a></span>
                    </div>
                    <div class="cont-box">
                        <button class="btn">登陆</button>
                    </div>
                    <div class="cont-box clearfix">
                        <span class="fr">没有账号 ?<span class="fr"><a href="">快速注册</a></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footed">
    <small class="fz-small">红上金融信息服务（上海）有限公司 | Copyright © hoomxb.com 沪ICP备14046628号-2| 沪公网安备 31010102002582号 <br>理财市场有风险，投资需谨慎！</small>
</div>
