<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/helper.css">
    <link rel="stylesheet" href="../styles/pages/index.css">
    <link rel="stylesheet" href="../styles/modules/controls/inputs.css">
    <link rel="stylesheet" href="../styles/modules/controls/button.css">
    <link rel="stylesheet" href="../styles/modules/components/pagination.css">
    <link rel="stylesheet" href="../styles/modules/icon/font-awesome.css">
    <link rel="stylesheet" href="../styles/modules/components/header.css">
    <link rel="stylesheet" href="../styles/pages/sbtz.css">
    <link rel="stylesheet" href="../styles/modules/components/footed.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row head-top">
            <div class="col-4 head-left">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <small>全国服务热线：400-1551-888</small>
                <span><i class="fa fa-qq ifa" aria-hidden="true"></i></span>
                <span><i class="fa fa-weixin ifa" aria-hidden="true"></i></span>
                <span><i class="fa fa-weibo ifa" aria-hidden="true"></i></span>
            </div>
            <div class="col-4 col-offset-4 head-right">
                <ul class="ul-rt fr">
                    <li><a href=""><i class="fa fa-mobile li-phone" aria-hidden="true"></i>手机客户端</a></li>
                    <li><a href="">安全保障</a></li>
                    <li><a href="">立即登陆</a></li>
                    <li><a href="">快速注册</a></li>
                </ul>
            </div>
        </div>
        <div class="row head-bom">
            <div class="col-2 bom-left">
                <div>
                    <img class="" src="../images/hongxb.png" height="33" width="109"/>
                </div>
            </div>
            <div class="col-9 col-offset-1 bom-right">
                <ul class="fr">
                    <li>首页</li>
                    <li>红利计划</li>
                    <li>散标投资</li>
                    <li>债券转让</li>
                    <li>关于我们</li>
                    <li>我的账户</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="table-sbtz">
    <div class="container">
        <div class="table-y">
            <table class="table-list">
                <tr>
                    <td>债券标题</td>
                    <td>年利率</td>
                    <td>期限(月)</td>
                    <td>标的总额</td>
                    <td>进度</td>
                    <td></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
                <tr>
                    <td>经营01160025</td>
                    <td>13.26%</td>
                    <td>24</td>
                    <td>42088.08</td>
                    <td class="tb-left">
                        <div class="tb-tenl">
                            <span class="tb-sp"></span>
                        </div>
                        <div class="tb-tenr">
                            <span class="tb-sa">100.00%</span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-disabled tb-btn" href="">还款中</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="footed">
    <div class="container fot-cont">
        <ul class="fot-mar">
            <li><a class="fot-first" href="">公司介绍</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">免责声明</a></li>
            <li><a href="">自律公约</a></li>
        </ul>

        <div class="fot-mar">
            <span class="fot-sp">客服热线</span>
            <span class="fot-sa">400-1551-888（周一至周五 9:00-19:00）</span>
        </div>

        <div class="fot-fed">
            <ul>
                <li><a class="fot-first" href="">公司介绍</a></li>
                <li><a href="">网贷天眼</a></li>
                <li><a href="">网贷之家</a></li>
                <li><a href="">网贷中国</a></li>
                <li><a href="">红上金融</a></li>
                <li><a href="">中国小额信贷联盟</a></li>
            </ul>
        </div>

        <div class="hoomxb">
            <p class="fz-small">红上金融信息服务（上海）有限公司 | Copyright © hoomxb.com 沪ICP备14046628号-2| 沪公网安备 31010102002582号><br><br>
                理财市场有风险，投资需谨慎！</p>
        </div>
    </div>
</div>
</body>
</html>