
.fz-bestbig{
    font-size: 56px;
}
.fz-big{
    font-size: 46px;
}
.fz-stress{
    font-size: 36px;
}
.fz-title{
    font-size: 30px;
}
.fz-title-text{
    font-size: 26px;
}
.fz-more{
    font-size: 18px;
}
.fz-list{
    font-size: 16px;
}
.fz-span{
    font-size: 14px;
}
.fz-small{
    font-size: 12px;
}
.pd-15{
    padding:15px;
}
.box-shadow{
    box-shadow: 0 1px 5px rgba(0,0,0,.03);
    border: 1px solid #eee;
}